body {
    margin: 0;
    overflow-x: hidden;
}

/*Estilos generales para las letras*/

a, i, span, h2, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}

/*Estilos para el encabezado*/

header {
    background: linear-gradient(rgba(25, 47, 101, 0.75),rgba(25,47,101,0.75)),
    url(../imagenes/slide.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.texto {
    align-items: center;
    text-align: center; 
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    padding: 10px; 
}

.logo img {
    height: 50px;
    margin-right: 40px;
}

nav a {
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover {
    text-decoration: underline;
}

.iniciosesion {
    margin-left: auto;
    margin-right: 30px;
}

span {
    font-weight: 600;
}

span:hover {
    text-decoration: underline;
}

/*Estilos para el formulario de inicio de sesion*/

.modals {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    text-align: center;
    color: #1D3A6C;
}

form {
    display: flex;
    flex-direction: column;
}

.usuario,
.contrasenia {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    color: #333;
}

#cerrar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1D3A6C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cerrar:hover {
    background-color: #172e56;
}

.texto {
    margin-top: 20px;
}

@media (max-width:560px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}

/*Estilos para la lista desplegable del nav*/

.listaDesplegable {
    position: relative;
    display: inline-block;
}

.listaDesplegable-menu {
    list-style: none;
    padding: 0;
    margin: 3px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.listaDesplegable-menu a {
    color: black;
    font-weight: 200;
}

.listaDesplegable-menu li {
    padding: 10px;
}

.listaDesplegable:hover .listaDesplegable-menu {
    display: block;
}

/*Estilos para las cards de novedades*/

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 160px;
    color: #1D3A6C;
}

.contenedorNovedades {
    margin: 0 auto;
    display: flex;
    width: 75%;
}

.novedadAu {
    margin: 30px;
    width: 180%;
}

.contenido p {
    color: black;
}

.novedades {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

img {
    width: 100%;
    display: block;
}

.imgnov {
    height: 200px;
    overflow: hidden;
}

.imgnov img {
    border-radius: 8px;
}

.imgNovAu img {
    border-radius: 8px;
}

.titulo {
    display: flex;
    background-color: #1D3A6C;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    height: 30px;
}

.carta {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.texto2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.texto2 p {
    color: black;
}

/*Estilos para las imagenes de aliados*/

.conteTitAli {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titAlia {
    margin-right: 160px;
}

.texAlia {
    color: #1D3A6C;
}

.contImgAli {
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 30px;
}

.contImgAli img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.contImgAli img:hover {
    transform: scale(1.2);
}

/*Estilos para el pie de pagina*/

.piePagina {
    width: 100%;
    background-color: #1D3A6C;
}

.piePagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piePagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 16px;
}

.piePagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.piePagina .grupo2 {
    background-color: #172e56;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}